
/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - home section -
    - About section -
    - experience section -
    - projects section -
    - Contact section -
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|DM+Serif+Display:400,400i,700,700i,900,900i';

/*
font-family: 'DM+Serif+Display:', serif;
font-family: 'Lato', sans-serif;
*/

/* scroll fluido */
html {
  scroll-behavior: smooth;
}

/* --------scrollbar--------- */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F9D6BC white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #F9D6BC;
  border-radius: 0px;

}


/* --------fine scrollbar--------- */

/* preloader ==================================================*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #425BB5;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }
    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* Corpo
==================================================*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #FDF3EC;



  h1 {
      font-family: 'DM+Serif+Display', serif;
      font-size: 80px;
      line-height: 70px;
  }

  h4 {
      font-family: 'Lato', sans-serif;
      text-transform: capitalize;
      letter-spacing: 2px;
      position: relative;
      color: #AE1B2E;
      margin-left: 40px;
      font-weight: 700;
  }

}

.size-50 {
    font-size: 50px;
    line-height: 50px;
      color: #000a42;
}

/* home
================================================= */

#home {
    background-image: radial-gradient(circle at 6.63% 13.61%, #c9d8fa 0, #ced6f9 6.25%, #d4d5f8 12.5%, #dad3f6 18.75%, #e0d2f3 25%, #e5d0f0 31.25%, #eacfed 37.5%, #eecee9 43.75%, #f2cde5 50%, #f5cce1 56.25%, #f8ccdc 62.5%, #facbd8 68.75%, #fbcbd3 75%, #fcccce 81.25%, #fcccca 87.5%, #fccdc6 93.75%, #facdc2 100%);
    background-size: cover;
    height: 100vh;
    padding: 100px;
}

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    font-size: 11px;
    font-weight: bold;
}

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #000a42;
    text-decoration: none;
}

a.active {
    color: #AE1B2E;
}

/* intro faded ************************ */
.intro {

  margin-top: 15vh;
  color: #000a42;

      & p.fadeIn {
          font-size: 5vh;

            & span{
              opacity: 0;
              transform: translateX(30px);
              animation: fadeIn 1.2s ease-out forwards;
              display:inline-block;
            }

            & span:nth-of-type(2){
              animation-delay: 1.5s;
            }

            & span:nth-of-type(3){
              animation-delay: 2.5s;
            }

            & span:nth-of-type(4){
              animation-delay: 3.5s;
            }

            & span:nth-of-type(5){
              animation-delay: 4.3s;
            }

    @keyframes fadeIn{
      to{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
/* fine intro faded*********************** */

/* social ******************************** */
.social {
  position: fixed;
  top: 40vh;
  z-index: 2;

    & .ul-social {
      list-style-type:none;
      display: block;
      width: 50px;

        & li a {

            & img {
            width: 6vh;
            height: auto;
            }
        }
    }
}

.social li:hover {
    -webkit-filter: brightness(220%);
}
/* fine social */

/* freccia animata home ******************* */
.hero__scroll {
  justify-content: center;
  margin-top: 30vh;
  display: flex;
  cursor: pointer;
  text-align: center;
 }

  .hero__scroll .chevron {
    text-align: center;
    color: #AE1B2E;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }

/* frecce animate ************************** */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }


.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 20px; }

.chevron.right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.chevron.left:before {
  left: 0.25em;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

/* frecce animate ************************* */

/* fine  home
==================================================*/


/* chi sono
==================================================*/

#about {

}

.presentazione {

  & .nome {
    font-family: 'DM+Serif+Display', serif;
    font-size: 50px;
    padding-bottom: 6vh;
  }

  & p {
    padding-left: 30px;
    padding-bottom: 15px;
  }
}

.about-img-div img {
    margin: 0 auto;

}

.about-border {
    position: absolute;
    border: 10px solid #F9D6BC;
    width: 400px;
    height: 400px;
    top: 40px;
    left: 50px;
    z-index: 1;
        box-shadow: 0px 0px 5px #F9D6BC;
}

/* fine chi sono
==================================================*/

/* projects
==================================================*/

#projects {
  background-color: #E7E6EA;
}

.project {
  & .row {
    margin: auto;

    & .column {
      width: 100%;
      height: auto;
    }
  }
}

.column::after {
	content: '';
	clear: both;
	display: block;
}

.column div span {
	position: absolute;
	bottom: 20%;
	left: 20%;
	z-index: 1;
	display: block;
	margin: 0;
	padding: 0;
	color: #000a42;
	font-size: 24px;
	text-decoration: none;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
  pointer-events: none;
}

.column div a {
  width: 100%;
  height: auto;


  & img {
      max-width:100%;
      max-height:100%;
      padding-bottom: 30px;
  }
}

a:hover+span {
	bottom: 30%;
	opacity: 1;
  pointer-events: none;
}

/* Blur + Gray Scale */
.hover10 a img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover10 a:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

/* fine projects
==================================================*/

/* contact
==================================================*/

#contact {
    padding: 50px 0;
    background: #f3f3f3
}

.contatti {
  margin: auto;

    & div h3 {
      text-align: center;

      & a {
      display: inline;
      text-align: center;
      }
    }
}

/* Responsive media queries
==================================================*/

@media (max-width: 991px) {

}

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-family: 'DM Serif Display:', serif;
        font-size: 50px;
        line-height: 50px;
    }
/*    #home,
    .disply-table {
        height: 900px;
    }
--*/
    .about-border {
        width: 265px;
    }
    .portfolio .categories-grid .categories ul li {
        list-style: none;
        margin: 10px 0;
    }
}

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: 10px;
    }

    .fadeIn {
      padding-top: 25px;
    }

    .about-border {
      display: none;
    }

    .hero__scroll {
      display: none;
    }

}
