
body{
  padding-top: 0;
  background-color: #E7E6EA;
}

.indietro-a-home {
  display: block;
  position: absolute;
  top: 50px;
  left: 30px;
  index: 1;
}

.indietro-a-home a img {
  width: 6vh;
}

.indietro-a-home a img:hover {
  -webkit-filter: brightness(220%);
}
.section{
	text-align: center;
}

.padd {
  padding-top: 0PX;
  padding-left: 80px;
  padding-right: 80px;
}

.section {
 width: 90vw;
 height: 100vh;
}

a img {
    max-width: 90%;
    max-height: 90%;
}
